<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <center>
    <h1>Log in</h1>
  </head>
  <b<body>
    <form action="login" method="post">
    {%csrf_token%}
    <br>
    <input type="text" name="username" placeholder="nome de usuário"><br>
    <br>
    <input type="password" name="senha" placeholder="Senha"><br>
    <br>
    <input type="submit" value="Entrar" >
    </form>
    <li><a href="registro/troca_senha">Esqueci minha senha</a></li>
    <div>
      {%for message in messages%}
      <h3>{{message}}</h3>
      {%endfor%}
    </div>
  </body>
</center>
</html>
